.btn {
    width: 159px;
    height: 53px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border: 2px solid var(--accent-btn-txt);
    outline: none;
    cursor: pointer;
    color: var(--main-title-color);
    background-color: var(--main-bg);
}
.btn:hover,
.btn:focus {
    color: var(--accent-btn-txt);
    background-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
    .btn {
        width: 138px;
        height: 40px;
        border: none;
        border-radius: 20px 20px 0 0;
        background-color: #fafbfd;
    }
    .btn:hover,
    .btn:focus {
        color: var(--accent-color);
        background-color: #fafbfd;
    }

    .btnActive {
        color: #ff751d;
    }
    .btnActive:active {
        color: #ff751d;
    }
}
