.GoBackArrow {
    position: absolute;
    left: 5%;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.wrap {
    position: relative;
}
