.Bg {
    position: absolute;
    z-index: -1;
    width: 100vw;
}
.Top {
    /* background-color: #f5f6fb; */
    background: #f2f5fc;
    overflow: hidden;
    height: 286px;
    border-radius: 0 0 0 45px;
    background-image: url('../../images/partcab.svg');
    background-repeat: no-repeat;
    background-position: right top 104px;
}
.Bottom {
    height: 514px;
    background-image: url('../../images/bottomcab.svg');
    background-repeat: no-repeat;
    background-position: left 35px bottom;
}
@media screen and (min-width: 768px) {
    .Top {
        height: 526px;
        background-image: url('../../images/groupcab.svg');
        background-size: 100vw 232px;
        background-position: left 10px top 28px;
    }
    .Bottom {
        height: 514px;
        background-image: url('../../images/vectors2.svg');
        background-position: left 103px bottom 56px;
        background-repeat: no-repeat;
    }
}
@media screen and (min-width: 1280px) {
    .Bottom {
        height: 268px;
        background-position: left 230px bottom 50px;
        background-repeat: no-repeat;
    }
}
