.Title {
    width: 183px;
    height: 63px;
    margin: 86px 0 50px 49px;
    margin-left: 49px;
    margin-bottom: 50px;
    background-image: url('../../images/title.png');
    background-repeat: no-repeat;
    background-size: contain;
}
@media screen and (min-width: 768px) {
    .Title {
        width: 306px;
        height: 101px;
        margin-top: 90px;
        margin-left: 171px;
    }
}
@media screen and (min-width: 1280px) {
    .Title {
        width: 377px;
        height: 139px;
        margin-top: 308px;
        margin-left: 230px;
    }
}
