.summary {
    width: 230px;
    height: 271px;
    border-radius: 20px 20px 20px 0;
    background-color: var(--main-bg);
}

.title {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.167;
    text-align: center;
    width: 230px;
    height: 38px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--main-title-color);
    border-bottom: 1px solid #ffffff;
    /* border-radius: 20px 20px 0 0; */
}

.list {
    width: 230px;
    overflow-x: hidden;
}

.item {
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
}

.item:not(:last-child) {
    border-bottom: 2px solid #ffffff;
}

.month {
    width: 84px;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #52555f;
}

.sum {
    width: 84px;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #52555f;
}
