.header {
    width: 100vw;
    height: 56px;
    padding: 0 20px;
    background-color: #fff;
}
.authHeader {
    width: 100vw;
    height: 56px;
    padding: 0 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.authImg {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
.logo {
    display: block;
    margin-left: 19px;
    margin-top: 13px;
    margin-bottom: 13px;
}
@media screen and (min-width: 768px) {
    .logo {
        margin-left: 26px;
    }
}
.avatar {
    margin-right: 15px;
}
@media screen and (min-width: 768px) {
    .avatar {
        margin-right: 10px;
    }
}
.logout {
    width: 16px;
    height: 16px;
}
.logoutText {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: var(--main-txt-color);
}

.userName {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    color: var(--main-txt-color);
    letter-spacing: 0.04em;
    margin-right: 20px;
}
.stick {
    border-left: 1px solid #e0e5eb;
    height: 36px;
    margin-right: 20px;
}
