.footer {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    color: #000000;
    background-color: #ff751d;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.footerBox {
    margin: 10px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.copyRight {
    margin-right: 7px;
}

.separator {
    width: 0;
    margin: 0 7px;
}

.link {
    color: black;
    margin-left: 5px;
}

.footerDeveloperBox {
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.heart {
    margin-right: 3px;
    margin-left: 3px;
}

.svg {
    position: relative;
}

@media (min-width: 320px) {
    .footer {
        font-size: 12px;
        line-height: 1.25;
    }
}
@media (min-width: 768px) {
    .footer {
        font-size: 12px;
        line-height: 1.25;
        display: flex;
    }
}
@media (min-width: 1280px) {
    .footer {
        font-size: 12px;
        line-height: 1.25;
    }

    .heart {
        margin: 0 7px;
        fill: #000000;
    }
}
.gap {
    margin-right: 5px;
}

@media (min-width: 320px) {
    p a svg {
        width: 100px;
        height: 40px;
        position: absolute;
        /* left: 51%; */
        bottom: 0px;
        transform: translate(-7%, 7px) translateZ(0);
        fill: none;
        stroke: black;
        stroke-linecap: round;
        stroke-width: 1px;
        stroke-dasharray: var(--offset, 69px) 278px;
        stroke-dashoffset: 361px;
        transition: stroke 0.25s ease (black, 0s), stroke-dasharray 0.35s;
    }
    p a:link:hover {
        --spacing: 4px;
        --stroke: black;
        --stroke-delay: 0.1s;
        --offset: 180px;
    }
}
@media (min-width: 768px) {
    p a:link:hover {
        --spacing: 4px;
        --stroke: black;
        --stroke-delay: 0.1s;
        --offset: 180px;
    }
}
@media (min-width: 1280px) {
    p a:link:hover {
        --spacing: 4px;
        --stroke: black;
        --stroke-delay: 0.1s;
        --offset: 180px;
    }
}
