.categoriesCosts {
    margin-top: 40px;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: auto;
}

.titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.button {
    padding: 0;
    border: none;
    background-color: transparent;
}
.button:hover,
.button:focus {
    cursor: pointer;
}

.title {
    margin: 0 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-title-color);
}

.list {
    display: flex;
    margin-top: 0;
    margin-left: -10px;
    margin-bottom: -40px;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: flex-start;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 40px;
    flex-basis: calc((100% - 10px * 3) / 3);
}

.cost {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(----main-txt-color);
}

.icon {
    fill: #071f41;
    background-image: radial-gradient(
        75% 65% at 50% 50%,
        #f5f6fb 15%,
        #f5f6fb 5%,
        #f5f6fb 40%,
        #f5f6fb 0,
        #f5f6fb 65%,
        #fff 0
    );
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover,
.icon:focus {
    fill: var(--accent-color);
    background-image: radial-gradient(
        75% 65% at 50% 50%,
        #ffdac0 15%,
        #ffdac0 5%,
        #ffdac0 40%,
        #ffdac0 0,
        #ffdac0 65%,
        #fff 0
    );
    cursor: pointer;
}

.costName {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: var(----main-txt-color);
}

@media screen and (min-width: 768px) {
    .categoriesCosts {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px 20px 30px 30px;
        width: 666px;
        height: 358px;
        background-color: var(--select-bg);
        box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
        border-radius: 30px;
    }

    .list {
        margin-left: -15px;
    }

    .item {
        margin-left: 15px;
        flex-basis: calc((100% - 15px * 6) / 6);
    }
}

@media screen and (min-width: 1280px) {
    .categoriesCosts {
        padding: 20px 220px 30px 220px;
        width: 1060px;
    }
}
