.FormContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 525px;
    margin: 0 auto;
    padding-top: 41px;
    border-radius: 30px;
    box-shadow: 5px 10px 20px rgb(170 178 197 / 40%);
    background-color: #fff;
}

.FormContent_text {
    width: 212px;
    margin: 0 0 36px;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 0.625rem;
    line-height: 0.7325rem;
    letter-spacing: 0.04em;
    color: #52555f;
}

.FormContent_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 40px;
    margin-bottom: 30px;
    border: transparent;
    border-radius: 26px;
    box-shadow: 1px 2px 3px rgb(170 178 197 / 40%);
    background-color: #f6f7fb;
    font-size: 0.875rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1rem;
    color: #000;
    cursor: pointer;
    outline: none;
}

.FormContent_textA {
    width: 242px;
    margin: 0 0 26px;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 0.625rem;
    line-height: 0.7325rem;
    letter-spacing: 0.04em;
    color: #52555f;
}
.AuthNav_wrapper {
    width: 100%;
}
.AuthNav_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6px;
    font-family: 'Roboto';
}
.AuthNav_label__2 {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 0.6875rem;
    font-style: normal;
    color: #000;
}
.AuthNav_label__3 {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 0.6875rem;
    font-style: normal;
    color: #000;
}
.AuthNav_label__4 {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 0.6875rem;
    font-style: normal;
    color: #000;
}
.AuthNav_description {
    position: relative;
    margin: 0 0 10px 8px;
    padding: 4px 0 0 10px;
}
.AuthNav_input {
    width: 208px;
    height: 42px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-radius: 30px;
    border: transparent;
    box-shadow: 1px 2px 3px rgb(170 178 197 / 10%);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    text-align: left;
    background-color: #f6f7fb;
    color: #a6abb9;
}
