.InfoBalance {
    position: relative;
}
.FormInfo {
    /* position: relative; */
    display: flex;
    justify-content: center;
}
.Input {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #000;
    width: 125px;
    height: 44px;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 22px 0 0 22px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    margin: 0;
}
.title {
    position: relative;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.167;
    text-align: center;
    align-items: center;
    margin: 0 auto 6px;
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        padding-top: 40px;
    }
    .InfoBalance {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Form {
        display: flex;
        align-items: baseline;
    }
    .title {
        margin: 0 20px 0;
    }
    .Input {
        margin-right: 15px;
        height: 44px;
        margin-left: 21px;
        margin-top: 0px;
        max-width: 105px;
        border: 2px solid #ffffff;
        background-color: transparent;
        border-radius: 16px;
        text-align: center;
        font-size: 12px;
        line-height: 1.17;
        font-weight: bold;
        color: black;
        padding: 12px 20px 12px;
    }
    .Modal {
        width: 292px;
        height: 263px;
    }
}
@media screen and (min-width: 1280px) {
    .wrapper {
        justify-content: right;
    }
    s.InfoBalance {
        margin-bottom: 9px;
    }
}
