.button {
    width: 154px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.17;
    text-align: right;
    letter-spacing: 0.04em;
    color: rgba(82, 85, 95, 0.7);
    cursor: pointer;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.icon {
    margin-left: 15px;
    fill: var(--main-txt-color);
}

.icon:hover,
.icon:focus {
    fill: var(--accent-color);
}
