@import '/node_modules/modern-normalize/modern-normalize.css';

:root {
    --main-txt-color: #52555f;
    --main-title-color: #000;
    --main-bg: #f5f6fb;

    --accent-color: #ff751d;
    --accent-btn-txt: #fff;

    --negative-num: #e7192e;
    --income-num: #407946;
    --require-field-color: #eb5757;

    --auth-input-bg: #f6f7fb;
    --auth-btn-main-txt: #52555f;

    --input-placeholder-txt: #a6abb9;

    --select-main-txt: #c7ccdc;
    --select-bg: #fff;
    --select-accent-txt: #52555f;
    --select-accent-bg: #f5f6fb;

    --modal-balance-bg: linear-gradient(
        117.84deg,
        #1d346a 2.84%,
        #031634 67.28%
    );
    --modal-balance-txt: #fff;
    --modal-exit-bg: #fff;

    --diagram-second-color: #ffdac0;
}

body {
    background-color: #fff;
    color: var(--main-txt-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
input {
    padding: 0;
    margin: 0;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}
input:hover,
input:focus {
    border: 2px solid var(--accent-color);
}
button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
