.Modal {
    position: absolute;
    width: 320px;
    height: 300px;
    background-size: contain;
    top: 25px;
    left: 0;
    background-image: url('../../../images/modalSvg.svg');
    background-repeat: no-repeat;
    /* background-image: url('../../../images/Union.svg'); */
    color: #ffffff;
    /* padding: 41px 20px; */
}
@media screen and (min-width: 768px) {
    .Modal {
        top: 8px;
        left: 65px;
        width: 292px;
        height: 263px;
    }
}
@media screen and (min-width: 1280px) {
    .Modal {
        top: 10px;
    }
}
