.Bg {
    position: absolute;
    z-index: -1;
    width: 100vw;
}
.Top {
    /* background-color: #f5f6fb; */
    background: #f2f5fc;
    overflow: hidden;
    height: 286px;
    border-radius: 0 0 0 45px;
    background-repeat: no-repeat;
    background-position: right top 104px;
}
@media screen and (min-width: 768px) {
    .Top {
        height: 526px;
    }
    .Bottom {
        height: 657px;
        background-image: url('../../images/vectors2.svg');
        background-repeat: no-repeat;
        background-position: right 88px bottom 64px;
    }
}
@media screen and (min-width: 1280px) {
    .Bottom {
        height: 268px;
        background-image: url('../../images/groupcab.svg');
        background-size: auto 232px;
        background-repeat: no-repeat;
        background-position: left 10px bottom;
    }
}
