.Topbox {
    position: absolute;
    z-index: -1;
    width: 100%;
    background-color: #f2f5fc;
    overflow: hidden;
    height: 286px;
    border-radius: 0 0 0 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* @media screen and (min-width: 320px) {
    .Container {
        width: 320px;
    }
} */
@media screen and (min-width: 768px) {
    /* .Container {
        width: 768px;
    } */
    .Topbox {
        height: 526px;
    }
    .BottomImg {
        position: relative;

        /* z-index: -2; */
        /* width: 183px;
        height: 142px;*/
        /* margin-top: 451px;  */
        /* margin-left: 497px;  */
        height: 1119px;

        /* background-position: center; */
        background-image: url('../../images/vectors2.svg');
        background-repeat: no-repeat;
        background-position: right 10% bottom;
    }
}
@media screen and (min-width: 1280px) {
    /* .Container {
        width: 1280px;
    } */
    .BottomImg {
        /* width: 100%;
        z-index: -1;
        height: 142px; */
        /* margin-top: 74px;
        margin-left: 10px; */
        height: 832px;
        background-image: url('../../images/groupcab.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right 10% bottom;
    }
}
